extends layout

block content

  h1= article.title
  h5 written by #{article.author}
  p= article.body
  hr
  a.btn.btn-default(href='/article/edit/'+article._id) Edit
  
<<<<<<< HEAD
  a.btn.btn-danger.delete-article(href='#', data-id=article._id) grab on the jquery to make a Delete request
=======
  a.btn.btn-danger.delete-article(href='#') grab on the jquery to make a Delete request
>>>>>>> 5e55c28a6ff318d0117f6e3ee7f165e991b69afb


